/data/usgs_phos.csv
/2017corr.png
/2017corr_updated.png
/2020corr.png
/award_funding.csv
/corr.png
/counties.geojson
/data_usgs.csv
/data_usgs_counties.csv
/data_usgs_counties_GL0406.csv
/data_usgs_GL.csv
/data_usgs_GL2.csv
/funding_ny.csv
/funding_ny_allyears.csv
/GeoObs.json
/giniusgs.csv
/latlong.csv
/list_of_awarding_agencies.csv
/mnpca.csv
/ohio.csv
/phos_levels_county_cleaned.csv
/usgs_eda.ipynb
/usgs_eda_final.ipynb
/zip_points.csv
/archive/
